@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
}

::-webkit-scrollbar {
  width: 1em;
}

.backgroundGradient {
    --gradient-start: #121317;
    --gradient-start-text: '#121317';
    --gradient-end: #323B42;
    --gradient-end-text: '#323B42';
    background: linear-gradient(33deg, var(--gradient-start), var(--gradient-end));
  }

  .backgroundGradient-2 {
    background-color: #88d4f1; /* For browsers that do not support gradients */
    background-image: linear-gradient(#87CEEB, #bee9fa);
  }

  .black-gradient {
    background: #000000; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #434343,
      #000000
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #434343,
      #000000
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

.center-model {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.contact-model {
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%, -50%);
}

.introduction {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.home-cv {
  position: absolute;
  top: 73vh;
  left: 50%;
  transform: translate(-50%, -50%);
}


.title {
  font-size: 10rem;
}

.cursor {
  background-color: #fff;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  box-shadow: 0 0 20px #fff,
  0 0 60px #fff,
  0 0 100px #fff;
}

.modal-fadeIn {
  animation-name: fadeIn;
  animation-duration: 1.2s;
}

.overlay-fadeIn {
  animation-name: fadeIn;
  animation-duration: 0.8s;
}

/* blur hover effects */

.js:hover {
  filter: invert(0.2) sepia(2) saturate(4) brightness(3) drop-shadow(0 0 1rem rgb(249, 212, 0));
  fill: yellow;
}


.nextjs:hover {
  filter: drop-shadow(0 0 1rem rgb(255, 255, 255));
}

.html:hover {
  filter: invert(0.4) sepia(2) saturate(5) brightness(1) hue-rotate(350deg) drop-shadow(0 0 1rem rgb(249, 132, 29));
}

.css:hover {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg) drop-shadow(0 0 1rem rgb(1, 154, 243));
}

.typescript:hover {
  filter: invert(.5) sepia(1) saturate(5) hue-rotate(175deg) drop-shadow(0 0 1rem rgb(1, 154, 243));
}

.react:hover {
  filter: invert(.4) sepia(1) saturate(5) hue-rotate(178deg) drop-shadow(0 0 1rem rgb(1, 154, 243));
}

.tailwind:hover {
  filter: invert(.3) sepia(1) saturate(5) hue-rotate(175deg) drop-shadow(0 0 1rem rgb(31, 184, 213));
}

.cppSkill:hover {
  filter: invert(.5) sepia(1) saturate(10) hue-rotate(178deg) drop-shadow(0 0 1rem rgb(1, 154, 243));
}

.git:hover {
  filter: invert(0.5) sepia(1) saturate(3) hue-rotate(350deg) drop-shadow(0 0 1rem rgb(249, 83, 0));
}

.bash {
  filter: invert(0.9) sepia(0) brightness(3)  hue-rotate(0deg);
}

.bash:hover {
  filter: invert(0.5) sepia(1) saturate(3)  hue-rotate(100deg) drop-shadow(0 0 1rem rgb(74, 255, 131));
}



@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.scroll-container {
  position: fixed;
  left: 50%;
  bottom: 5vh;
}


.arrow-scroll {
  position: relative;
  height: 4em;
}

.arrow {
  border: solid #fff;
  border-width: 0 5px 5px 0;
  display: inline-block;
  padding: 12px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%)
            rotate(45deg);
}

.arrow:nth-child(2) {
  animation: arrow1 1.5s
          ease-in-out infinite;
}

.arrow:nth-child(3) {
  animation: arrow2 1.5s
          ease-in-out infinite;
}

@keyframes arrow1 {
  100% {
    opacity: 0;
    top: 100%;
  }
}

@keyframes arrow2 {
  100% {
    opacity: 0;
    top: 50%;
  }
}

.about-scroll-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-scroll-section h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: clamp(3rem, 5vw, 10rem);
  color: #fff;
}

.about-scroll-section p {
  font-family: "Gill Sans", "Gill Sans MT", Poppins , "Trebuchet MS", sans-serif;
  font-size: clamp(1rem, 2vw, 3rem);
  color: #da4ea2;
  letter-spacing: clamp(0.7rem, 0.65vw, 1.1rem);
}

.sidebar {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(100px);
    transform: translateY(100px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@media only screen and (min-width: 1024px) {
  .introduction {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-cv {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

@media only screen and (max-width: 1023px) {
  .contact-model {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

@media only screen and (max-width: 768px) {
  .home-cv {
    position: absolute;
    top: 90vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .about-scroll-section h3 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-size: clamp(1.5rem, 3vw, 8rem);
    color: #fff;
  }
  
  .about-scroll-section p {
    font-family: "Gill Sans", "Gill Sans MT", Poppins , "Trebuchet MS", sans-serif;
    font-size: clamp(0.6rem, 1vw, 3rem);
    color: #da4ea2;
    letter-spacing: clamp(0.4rem, 0.65vw, 1rem);
  }

}

@media only screen and (max-width: 600px) {
  .introduction {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-cv {
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}


@media only screen and (max-width: 320px) {
  .introduction {
    position: absolute;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .home-cv {
    position: absolute;
    top: 87%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .contact-model {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
  }

}